<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>
<body>
<nav class="col-md-2 sticky-top d-none p-3 d-md-block modal-footer sidebar vh-100 d-flex flex-column justify-content-between border-end ">
    <div>

        <h3 class="text-center  py-4 ">Gatherwise</h3>
        <p class="pl-2"><small>MENU</small></p>
        <ul class="nav flex-column gap-2 ">
            <li class="">
                <a class="btn text-start w-100" th:classappend="${page == 'dashboard'} ? 'btn btn-light' : 'btn-secondary'" th:href="@{/dashboard}">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="btn text-start w-100" th:classappend="${page == 'event-types'} ? 'btn btn-light' : 'btn-secondary'" th:href="@{/event-types}">
                    Categories Management
                </a>
            </li>

            <li class="nav-item">
                <a class="btn text-start w-100" th:classappend="${page == 'events'} ? 'btn btn-light' : 'btn-secondary'" th:href="@{/events}">
                    Events Management
                </a>
            </li>

            <li class="nav-item">
                <a class="btn text-start w-100" th:classappend="${page == 'tickets'} ? 'btn btn-light' : 'btn-secondary'" th:href="@{/tickets}">
                    Tickets Management
                </a>
            </li>
            <li class="nav-item">
                <a class="btn text-start w-100" th:classappend="${page == 'reservations'} ? 'btn-outline-primary' : 'btn-secondary'" th:href="@{/reservations}">
                    Reservations Management
                </a>
            </li>
            <li class="nav-item">
                <a class="btn text-start w-100" th:classappend="${page == 'requests'} ? 'btn-outline-primary' : 'btn-secondary'" th:href="@{/requests}">
                    Requests Management
                </a>
            </li>
        </ul>
    </div>
    <div class="mb-3 pt-5">
        <form th:action="@{/logout}" method="post" >
            <input class="btn btn-danger align-content-center" type="submit" value="Logout" />
        </form>
    </div>
</nav>
</body>
</html>