<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Event Type</title>
    <link th:replace="layout/admin-layout::link">
    <script type="text/javascript"></script>
</head>

<body th:replace="layout/admin-layout::body(title='Edit Event Type')">
<div th:fragment="content">
    <div class="mt-3 mb-5">
        <a class="btn btn-primary" th:href="@{/event-types}">Back</a>
    </div>
    <form th:action="@{|/event-types/${eventType.id}/edit|}" th:object="${eventType}" method="POST" enctype="multipart/form-data">
        <div>
            <label class="form-label mt-4" for="typeName">Type Name</label>
            <input type="text" name="typeName" id="typeName" class="form-control" th:classappend="${#fields.hasErrors('typeName')}? 'is-invalid'" th:field="*{typeName}">
            <span th:if="${#fields.hasErrors('typeName')}" th:errors="*{typeName}" class="invalid-feedback">Name Error</span>
        </div>

        <div>
            <label class="form-label mt-4" for="description">Description</label>
            <textarea name="description" id="description" class="form-control" th:classappend="${#fields.hasErrors('description')}? 'is-invalid'" th:field="*{description}"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback">Description Error</span>
        </div>

        <div>
            <label for="iconFile" class="form-label mt-4">Type Icon</label>
            <input type="file" id="iconFile" name="iconFile" class="form-control mt-2">
        </div>

        <div class="mt-4">
            <input class="btn btn-success" type="submit" value="Save">
        </div>
    </form>
</div>
</body>
</html>